<div class="services">
    <div class="container">
        <div class="gallery-bottom">
            <div class="gallery-grids" ng-if="c">
                <div class="col-md-3 services-left" style="margin-right: 15%">
                    <div class="view fifth-effect">
                        <img ng-src="{{c.image}}"/>
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="col-md-6 gallery-right">
                    <a ng-click="reload()" class="btn"><span class="label label-danger">Reload</span></a>
                    <table class="key-value-table" summary="Example of a key value table.">
                        <caption>Image Info.</caption>
                        <tbody>
                        <tr>
                            <th class="width-20">Name:</th>
                            <td>{{c.name}}</td>
                        </tr>
                        <tr>
                            <th class="width-20">Age:</th>
                            <td>{{c.age}}</td>
                        </tr>
                        <tr>
                            <th class="width-20">Date:</th>
                            <td>{{c.createdDate | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                        </tr>
                        <tr>
                            <th class="width-20">Is Founded:</th>
                            <td>{{c.founded}}</td>
                        </tr>
                        <tr>
                            <th class="width-20">Gender:</th>
                            <td>{{c.gender}}</td>
                        </tr>
                        <tr>
                            <th class="width-20">Info:</th>
                            <td>{{c.moreInfo}}</td>
                        </tr>
                        <tr>
                            <th class="width-20">Person Name:</th>
                            <td>{{c.person.name}}</td>
                        </tr>
                        <tr>
                            <th class="width-20">Person Profile:</th>
                            <td>
                                <a ui-sref="profile({id:c.person.id})">
                                    <img ng-src="{{c.person.image}}" class="circle">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="col-md-3 services-left" ng-repeat=" child in child">
                <div class="view fifth-effect">
                    <a ui-sref="imageInfo({id:child.suggested.id})">
                        <img ng-src="{{child.suggested.image}}"/>
                    </a>
                    <div class="mask"></div>
                </div>
                <div class="s-btm">
                    <h4>Name:{{child.suggested.name}} </h4>
                    <h4>Age:{{child.suggested.age}}</h4>
                    <h4>Confidence:{{child.confidence}}</h4>
                    <p>{{child.suggested.moreInfo}}</p>
                </div>
            </div>
        </div>
    </div>
</div>